{% extends 'crud/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Nouvel événement
{% endblock %}

{% block content %}
    <h1>Ajouter un événement</h1>


    <div id="services" class="row">
        <div class="col-sm-12 col-md-12">
            <p> {% bootstrap_alert "Choisissez une image qui met en valeur votre annonce" alert_type='danger' %} </p>

            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}

            {% if error %}
                <p> {% bootstrap_alert "Sélectionner une catégorie" alert_type='warning' %} </p>
            {%  endif %}

            {%  for form in topic_forms %}
                {% bootstrap_form form %}
            {% endfor %}

                {% buttons submit='Valider' reset="Annuler" %}{% endbuttons %}
            </form>

        </div>
    </div>

{% endblock %}
