{% extends 'crud/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Nouvel événement {{ current_topic }}
{% endblock %}

{# to allow recurrence_form.query #}
{% block base_extra_head %}
    {# event_form.media #}
    {{ recurrence_form.media }}
{% endblock %}

{% block content %}
    <h1>Ajouter un événement {{ current_topic }}</h1>


    <div id="services" class="row">
        <div class="col-sm-12 col-md-12">
            <p> {% bootstrap_alert "Choisissez une image qui met en valeur votre annonce" alert_type='danger' %} </p>
            {% if event_form.errors or recurrence_form.errors %}
                <p> {% bootstrap_alert "Merci de corriger le formulaire" alert_type='warning' %} </p>
            {% endif %}

            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form event_form %}
                {% bootstrap_form recurrence_form %}
                {% buttons submit='Valider' reset="Annuler" %}{% endbuttons %}
            </form>

        </div>
    </div>

{% endblock %}
