{% extends 'crud/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Evénement {{event.id}} : ajout dates
{% endblock %}

{# to allow recurrence_form.query #}
{% block base_extra_head %}
    {{ formset.media }}
{% endblock %}

{% block content %}

    <h1>{{event.title}}</h1>

    {% if recurrence_form.errors %}
        <p> {% bootstrap_alert "Merci de corriger le formulaire" alert_type='warning' %} </p>
    {% endif %}

    <p> {% bootstrap_alert "Ajoutez une ou plusieurs dates à votre événement" alert_type='info' %} </p>


    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <h3>Date n°{{forloop.counter}}</h3>
            {% bootstrap_form form %}
        {% endfor %}
        {% buttons submit='Valider' reset="Annuler" %}{% endbuttons %}
    </form>

{% endblock %}
