{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Bientôt...
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Site en construction</h1>
    </div>

    <div id="services" class="row">
        <div class="col-sm-12 col-md-12" align="center">
            <h2>Cette fonctionnalité sera bientôt disponible ! Revenez-vite pour la découvrir !</h2>
            <h3><a href="http://www.enjoytoday.fr"> Retour au menu principal </a></h3>
        </div>
    </div>

{% endblock %}