{% extends 'core/bootstrap3.html' %}

{% load bootstrap3 %}
{% load static %}
{% load imagekit %}

{# make sure that childrens of this template don't call bootstrap3_extra_head #}
{% block bootstrap3_extra_head %}
    <link href="{%  static 'core/base.css' %}" rel="stylesheet">
    <link href="{%  static 'core/topbar.css' %}" rel="stylesheet">
    <link href="{%  static 'core/footer.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'core/logo_carre.png'%}" />
    <link href="{%  static 'core/jquery.cookiebar.css' %}" rel="stylesheet">
    <link href="{%  static 'core/font-awesome-4.7.0/css/font-awesome.min.css' %}"  rel="stylesheet">
    {% block base_extra_head %}{% endblock %}
{% endblock %}


{% block title %}
    (no content)
{% endblock %}

{% block keywords %}
    Evénement, proposition, en ville, ce soir
{% endblock %}

{% block description %}
    Le moteur de recherche des activités proposées dans chaque ville.
{% endblock %}

{% block bootstrap3_content %}

    {% block topbar %}
        {% include "core/topbar.html" %}
    {% endblock %}


    <div class="container">
        <div class="row">

            <div class="col-sm-9">
                {% block content %}(no content){% endblock %}
            </div>

            <div class="col-sm-offset-1 col-sm-2">
                {% block sidebar %}
                    {% include "core/sidebar.html" %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}
    {% include "core/footer.html" %}
    {% endblock %}

{% endblock %}

{% block bootstrap3_extra_script %}
    <script type="text/javascript" src="{%  static 'core/jquery.cookiebar.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
         $.cookieBar({
             message: 'En poursuivant la navigation vous acceptez les cookies',
             acceptText: 'OK',
             policyButton: true,
             policyText: 'Conditions',
             policyURL: '{# url 'core:cookies' #}'
          {# dev purpose only #}
          {# forceShow: true, #}
          {# renewOnVisit: true #}

         });
      });
    </script>
    {% block base_extra_script %}{% endblock %}
{% endblock %}