{% extends 'core/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Conditions Générales d'Utilisation
{% endblock %}

{% block description %}
    Page des Conditions Générales d'Utilisation du site EnjoyToday.fr qui référence des propositions d'activités sur votre ville.
{% endblock %}

{% block content %}
    <div><h1>Conditions Générales d'Utilisation</h1></div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h2>Article 1: Présentation</h2>
            <p>Le site EnjoyToday.fr est propriété de l'association de fait Enjoytoday située 6 rue de l’Aude 75014 Paris, qui
                dispose de tous les droits INPI afférents. L'activité est déclarée auprès de la CNIL depuis 2016 sous le
                numéro 5289.</p>
            <p>Enjoytoday.fr est un site internet fournissant un service de mise en relation. Ces outils techniques sont
                utilisés par les internautes membres du site pour créer des fiches “événements”,
                les stocker, et les partager avec les autres internautes.</p>
            <p>EnjoyToday.fr est un site web 2.0, c'est-à-dire, dont le contenu est produit (membres-organisateurs...)
                et auto-géré par les internautes. Vous reconnaissez comprendre que ces internautes utilisent le site et
                agissent sur le site de leur plein gré et pour leurs propres motivations. Ils ne sont en aucun cas
                rattachés à l'association de fait Enjoytoday.</p>
            <p>Vous reconnaissez comprendre que l'association de fait EnjoyToday n'est responsable NI des contenus créés par les
                internautes (événements, etc...), NI de leurs agissements (qu'ils soient organisateurs, etc...).</p>

            <h2>Article 2: Inscriptions</h2>
            <p>L'ouverture d'un compte Membre particulier n’est autorisée et gratuite que pour les personnes physiques
                majeures (ou émancipées) et non-professionnelles. Les professionnels ou associations souhaitant disposer
                d'un compte 'Partenaire' doivent contacter EnjoyToday via l'email de Contact.</p>
            <p>La création d’un compte Membre sur le site implique que vous vous engagiez à respecter les présentes
                conditions générales d’utilisation (C.G.U.) du site, qui sont rédigées dans le respect de la Loi
                Française et des recommandations de la CNIL (en cas de problème n'hésitez pas à nous contacter à
                l'adresse indiquée dans l'article 1).</p>
            <p>Lors de l’ouverture d’un compte, vous devez impérativement fournir un pseudo sans connotation déplacée,
                ne prêtant pas à confusion, ainsi qu'un email valide.</p>
            <p>Vous reconnaissez que seule une photo affichée "dans le bon sens", sans marge extravagante et
                représentant le membre dans une position décente et non accompagné d'enfants, est accepté sur la fiche
                Membre. Les images, photos présentant distinctement plusieurs personnes mineures, photos pouvant être
                jugées choquantes, ne sont pas acceptées sur le site.</p>
            <p>En cas de non respect partiel ou total de ces CGU ou de leur esprit, vous reconnaissez que l'association de fait
                EnjoyToday a toute latitude pour prendre la décision adéquate qu'elle estime nécessaire (suppressions
                des données, blocage, bannissement).</p>
            <p>En application de la loi n°78-17 du 6 janvier 1978 modifiée, dite Loi Informatique et Liberté, vous
                reconnaissez comprendre que les informations à caractère personnel que vous donnez lors de votre
                inscription sont collectées dans la base de données du site. Conformément à la Loi n° 78-17 du 6
                janvier 1978, dite Loi Informatique et Liberté, vous disposez d'un droit de consultation, de
                modification et de retrait de toutes données personnelles portées sur votre fiche Membre. En cas de
                besoin, contactez EnjoyToday par écrit à l'adresse indiquée dans l'article 1 en précisant votre
                demande.</p>

            <h2>Article 3: Vie Privée</h2>
            <p>Vous reconnaissez comprendre que toutes les informations (adresse, photo,…) que vous donnez lors de
                votre inscription n’engagent que vous quant aux conséquences que celles-ci pourraient avoir sur votre
                vie ou celle des autres membres. Les données entrées par les internautes sur le site (fiche membre,
                sorties, photos, commentaires, post...) ont chacune une durée de conservation différente, qui ne
                dépasse en aucun cas 30 mois une fois le compte membre ad-hoc supprimé.</p>
            <p>Vous avez conscience d’être juridiquement seul responsable de vos propos et de vos actes sur le site et
                lors des sorties. Vous reconnaissez que l'association de fait EnjoyToday ne pourra en aucun cas être tenue comme
                responsable des propos ou agissements des membres. L'authenticité des informations fournies par les
                membres n'étant pas vérifiée, il est important que vous preniez certaines précautions lors des sorties.
                Vous reconnaissez être vigilant et reconnaissez que l'association de fait EnjoyToday ne peut être tenue responsable
                de ce qui peut arriver lors des sorties proposées sur le site. Vous renoncez dès à présent à la
                poursuivre en justice : <br>
                Loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique Article 6 :<br>
                <em>"Les personnes physiques ou morales qui assurent, même à titre gratuit, pour mise à disposition du
                    public par des services de communication au public en ligne, le stockage de signaux, d'écrits,
                    d'images, de sons ou de messages de toute nature fournis par des destinataires de ces services ne
                    peuvent pas voir leur responsabilité civile engagée du fait des activités ou des informations
                    stockées à la demande d'un destinataire de ces services si elles n'avaient pas effectivement
                    connaissance de leur caractère illicite ou de faits et circonstances faisant apparaître ce caractère
                    ou si, dès le moment où elles en ont eu cette connaissance, elles ont agi promptement pour retirer
                    ces données ou en rendre l'accès impossible."
                </em>
            </p>
            <p>Vous êtes seul responsable de l'utilisation de votre compte et vous vous engagez à ne pas diffuser votre
                mot de passe. Vous reconnaissez que l'utilisation frauduleuse de votre compte n'engage en aucun cas la
                responsabilité de Enjoytoday.</p>
            <p>Vous reconnaissez que, bien qu'elle s'efforce au mieux d'offrir un service sécurisé et efficace, la
                société EnjoyToday n'apporte aucune garantie au bon fonctionnement du site (erreurs de programmation,
                indisponibilité de l'hébergement, temps de réponse du site, ...). Vous reconnaissez que l'association de fait
                Enjoytoday ne pourra être tenue responsable d'éventuels actes de piratage et ne pourra être poursuivie
                pour quelque dommage ou perte occasionnés.</p>
            <p>Vous reconnaissez que l'association de fait EnjoyToday se réserve le droit de collecter et d'utiliser les adresses
                IP afin de les remettre aux autorités compétentes (justice, police, fournisseur d’accès) en cas de
                nécessité, et afin d’identifier les internautes qui contreviendraient aux présentes CGU pour prendre à
                leur encontre les décisions qui s'avèreraient nécessaires.</p>
            <p>Vous reconnaissez que l'association de fait EnjoyToday se réserve le droit de conserver les pseudos et les emails
                après suppression du compte membre, pour une durée de 30 mois maximum, et ce afin d'éviter que ceux-ci
                soient réutilisés par d'autres internautes et pour lutter contre le parasitisme.</p>
            <p>Vous reconnaissez et acceptez que l'association de fait Enjoytoday qui protège le contenu du site (c'est-à-dire
                toutes les informations, données, textes, messages et photos qui soient publiques ou privés) puisse être
                amenée à s'y référer ou à le divulguer par l'intermédiaire de son administrateur des bases de données
                (et uniquement lui) comme le prévoit la CNIL, soit pour se conformer à la législation, soit si la
                société EnjoyToday pense de bonne foi qu'une telle mesure est nécessaire et motivée pour faire respecter
                les CGU ou pour répondre à des plaintes arguant de la violation des droits de tiers.</p>

            <h2>Article 4: Charte de Bonne conduite</h2>
            <p>Vous vous engagez à tenir un langage correct en utilisant les outils qui sont mis à votre disposition sur
                le site. Les propos obscènes, vulgaires, violents et racistes sont totalement prohibés. L’écriture SMS
                n’est pas souhaitée. Vous êtes invité à prendre connaissance de la netiquette qui est de mise sur
                Internet. La netiquette est la charte de bonne conduite des acteurs de l'Internet, elle est disponible
                sur le site de l'AFA.</p>
            <p>Vous vous engagez à ne pas proposer de liens vers un site illégal ou concurrent. Vous êtes conscient que
                votre pleine et seule responsabilité est engagée quant aux informations que vous diffusez sur le site.
                Toute menace faite envers le site ou l'un de ses utilisateurs, sur quelque support que ce soit, pourra
                mener à l'exclusion temporaire ou définitive du membre, et éventuellement à des poursuites. Vous vous
                engagez à ne pas nuire au site, à son image ou à celle de ses membres.</p>
            <p>Un contenu (description, photos,...) à caractère  obscènes, vulgaires, violents et racistes est
                totalement prohibé.</p>

            <h2>Article 5: Création d'événements</h2>
            <p>Vous acceptez que les informations que vous entrez sur le site (photos, descriptions, sorties,...) soient
                visibles par tous les internautes et puissent être soumises à la validation de la communauté.</p>
            <p>Vous vous engagez à ne proposer que des événements légaux, décents, "physiquement réels" et respectant
                les CGU du site. Vous acceptez que le site puisse supprimer, modifier ou déplacer tout événement ou tout
                contenu qui violerait les C.G.U. ou les limitations imposées par le site, ou qui irait à l’encontre des
                intérêts de EnjoyToday ou de l’esprit du site.</p>
            <p>En tant qu'organisateur d'un événement vous vous engagez à vérifier, d'une part que vous avez légalement
                le droit de lancer l’événement que vous souhaitez mener et que celle-ci n'entre pas en conflit avec les
                différentes réglementations.</p>
            <p>Vous comprenez que Enjoytoday ne peut être tenu responsable de ce qu’il se passe ou arrive durant
                l’événement.</p>
            <p>Vous acceptez que toutes les événements que vous organisez puissent être répliquées à l'identique (ou
                avec des variations) par d'autres membres sur le site.</p>

            <h2>Article 6: Droit à l'image</h2>
            <p>Si un membre apparaît sur l’une des photos du site alors qu’il ne le souhaite pas, il est invité à se
                rapprocher du photographe de la dite photo pour lui demander de la supprimer.</p>
            <p>Vous reconnaissez être le propriétaire des photos que vous déposez sur le site. Vous acceptez, en déposant
                une photo sur le site, être seul responsable juridiquement du contenu de cette photo et vous acceptez de
                dédommager EnjoyToday de tout dommage direct ou indirect occasionné par la mise en ligne de cette photo.
                En les mettant en ligne sur le site, vous consentez à titre gratuit à EnjoyToday un droit de reproduction
                et de diffusion au public des œuvres photos dont vous êtes l'auteur. Vous autorisez spécifiquement
                EnjoyToday à utiliser ces photos aux fins de promotion du site. Vous renoncez donc expressément à vous
                prévaloir contre EnjoyToday de tout droit patrimonial sur ces œuvres.</p>

            <h2>Article 7: Mises à jour</h2>
            <p>Les CGU pourront être modifiées de façon mineure à tout moment et sans préavis. Vous êtes donc tenu de
                prendre connaissance de ses mises à jour régulièrement. Pour cela, vous pouvez vous référer au numéro
                de version indiqué en bas de cette page.</p>

            <p><strong>CGU version 1</strong></p>

        </div>
    </div>

{% endblock %}