{% extends 'core/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Conditions Générales d'Utilisation
{% endblock %}

{% block description %}
    Page des Conditions Générales d'Utilisation du site EnjoyToday.fr qui référence des propositions d'activités sur votre ville.
{% endblock %}

{% block content %}
    <div><h1>Charte de navigation sur Enjoytoday</h1></div>

    <div class="row">
        <div class="col-sm-12 col-md-12">

<P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3><I>Enjoytoday est une
plateforme en ligne destinée à répertorier les événements à
caractère spirituel et culturel de nos villes. C’est un outils
gratuit à destination de tous!</I></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>1) </FONT><FONT COLOR="#9900ff"><FONT SIZE=4>Historique
d’un agenda collaboratif</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>C’est suite au constat
que dans l’Eglise (comme ailleur) il existe des myriades
d’initiatives positives très pertinentes mais qui peinent souvent
à se faire connaître, qui éprouvent de réelles difficultés dans
leur façon de communiquer… que l’idée de créer un outils
informatique moderne de mise en relation entre les personnes et ces
nombreuses initiatives est née!   </FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>La plateforme informatique
Enjoytoday à été conçu par six amis catholique dans le but
initial d’aider les événements de l’Eglise (comme les groupe de
prières, conférences, créneaux d’adoration et de confession) à
être plus visible et donc plus connu et pourquoi pas plus fréquenté!</FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Devant l'engouement de ce
système gratuit de mise en relation, l’ambition d’Enjoytoday
s’est accru. L’évangélisation c’est d’aller aux périphéries
nous dit le pape François, c’est pourquoi, cet outils, bien que le
fruit de l’aboutissement d’un travail profondément marqué par
notre foi catholique, se veut être à destination de tous!</FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Mais sous certaines
conditions néanmoins:</FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>2) </FONT><FONT COLOR="#9900ff"><FONT SIZE=4>La
déontologie d’Enjoytoday </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Les événements présent
sur Enjoytoday ont tous pour vocation </FONT><FONT SIZE=3><B>la
recherche profonde du bien commun et de l’épanouissement personnel
de chacun.</B></FONT><FONT SIZE=3>  </FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Les événements présent
sur Enjoytoday sont tous </FONT><FONT SIZE=3><B>par défaut considéré
comme non contraires aux vertues théologales</B></FONT><FONT SIZE=3>
que sont la foi, l’espérance et la charité. </FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>1 Co 13, 13 : </FONT><FONT COLOR="#e69138"><FONT SIZE=3><I><SPAN STYLE="background: #ffffff">«
Maintenant donc, ces trois-là demeurent, la foi (pistis),
l’espérance (elpis) et l’amour (agapè) mais l’amour est le
plus grand. »</SPAN></I></FONT></FONT><FONT SIZE=3> Elles sont
nommées théologales pour la raison qu’elles qualifient la
relation de l’homme à Dieu.</FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Tout événement qui ne se
situe pas directement dans la communauté chrétienne doit préciser
à quelle communauté il appartient avec </FONT><FONT COLOR="#ff0000"><FONT SIZE=3><I>une
mention explicite du groupe ou de la communauté qui organise
l’événement dans la description de l’événement!</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3><I>Tout manquement à
cette obligation peut entraîner la suppression de l’événement.</I></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Ainsi grâce à cette
indication, les utilisateurs peuvent choisir librement et en
conscience l’événement spirituel ou culturel de leur choix. </FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>3) </FONT><FONT COLOR="#9900ff"><FONT SIZE=4>Qui
peut poster un événement sur Enjoytoday ?</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3><B>Toute personne peut
poster un événement sur Enjoytoday</B></FONT><FONT SIZE=3> à
condition que cet événement soit en lien avec </FONT><FONT SIZE=3><I>les
thématiques actuelles</I></FONT><FONT SIZE=3> et </FONT><FONT SIZE=3><I>la
déontologie</I></FONT><FONT SIZE=3> d’Enjoytoday.</FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>4) </FONT><FONT COLOR="#9900ff"><FONT SIZE=4>Quelles
sont les thématiques actuelles d’Enjoytoday?</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Voici la liste des
thématiques actuelles de la plateforme:</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>-Conférence &amp;
Séminaire </FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>-Réflexion &amp; Partage</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>-Groupe de Prière</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>-Adoration</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>-Confession</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>-Retraite &amp; Pèlerinage</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>-Action Sociale</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>-Concert &amp; Spectacle</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>-Interreligieux</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>-Autre</FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Voir: </FONT><FONT SIZE=3><I>Exemples
d’événements correspondants aux catégories</I></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#ff0000"><FONT SIZE=3>Tous
les événements entrant dans les 9 premières catégories sont les
bienvenus à condition qu’ils respectent la </FONT></FONT><FONT COLOR="#ff0000"><FONT SIZE=3><I>déontologie
d’Enjoytoday</I></FONT></FONT><FONT COLOR="#ff0000"><FONT SIZE=3>!</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3><I>L’équipe
d’Enjoytoday se réserve le droit de supprimer tout événement
n’entrant pas explicitement dans les catégories précités, ou ne
respectant pas la déontologie d’Enjoytoday ou se trouvant dans la
catégorie Autre sans aucun rapport avec l’idée générale
d’Enjoytoday.  </I></FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>5) </FONT><FONT COLOR="#9900ff"><FONT SIZE=4>Quelles
sont les modalités obligatoires pour ajouter un événement?</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Pour ajouter un événement
sur la plateforme Enjoytoday, vous devez sélectionner le bouton
</FONT><FONT COLOR="#ffffff"><FONT SIZE=3><I><SPAN STYLE="background: #000080">poster
une annonce</SPAN></I></FONT></FONT><FONT SIZE=3>, puis renseigner:</FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>1 </FONT><FONT SIZE=3><B>Une
image</B></FONT><FONT SIZE=3> correspondant à votre événement (au
format JPEG).</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>2 </FONT><FONT SIZE=3><B>Un
titre</B></FONT><FONT SIZE=3> correspondant à votre événement
(choisissez bien vos mots clefs) </FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>3 </FONT><FONT SIZE=3><B>Une
description</B></FONT><FONT SIZE=3> la plus détaillée possible </FONT><FONT COLOR="#ff0000"><FONT SIZE=3><I>avec
une mention explicite du groupe ou de la communauté qui organise
l’événement quand celui ci ne se situe pas dans la communauté
Chrétienne. </I></FONT></FONT><FONT SIZE=3><I>Tout manquement à
cette obligation peut entraîner la suppression de l’événement.</I></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>4 </FONT><FONT SIZE=3><B>Une
catégorie</B></FONT><FONT SIZE=3> dans laquelle se situe votre
événement</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>5 </FONT><FONT SIZE=3><B>Un
prix</B></FONT><FONT SIZE=3>, lorsque l’événement est payant.</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>6 </FONT><FONT COLOR="#38761d"><FONT SIZE=3>(Facultatif)
</FONT></FONT><FONT SIZE=3>Les coordonnées du contact éventuel
(adresse email ou numéro de téléphone ou les deux)</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>7 </FONT><FONT COLOR="#38761d"><FONT SIZE=3>(Facultatif)</FONT></FONT><FONT SIZE=3>
Un lien vers le site officiel de l’événement ou la page
d’inscription à l’événement.</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>8 </FONT><FONT SIZE=3><B>Une
adresse postale valide</B></FONT><FONT SIZE=3>, pour que google maps
puisse situé votre événement</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>9 </FONT><FONT SIZE=3><B>Le
site internet</B></FONT><FONT SIZE=3> de la ville dans lequel se
déroule votre événement </FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>10 </FONT><FONT SIZE=3><B>La
date</B></FONT><FONT SIZE=3> de votre événement. En cas de dates
multiples, vous avez la possibilité à l’origine de la création
de l’événement de sélectionner </FONT><FONT SIZE=3><B>poster un
événement répétitif</B></FONT><FONT SIZE=3> (pour les événements
récurrents) ou de </FONT><FONT SIZE=3><B>poster plusieurs dates</B></FONT><FONT SIZE=3>.
</FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Voir le tutoriel:</FONT><FONT SIZE=3><I>
événements multiples</I></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>11 </FONT><FONT SIZE=3><B>L’horaire
du début</B></FONT><FONT SIZE=3> de l’événement (souvent précis)</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>12 </FONT><FONT SIZE=3><B>L’horaire
de fin</B></FONT><FONT SIZE=3> de l’événement (souvent
approximatif)   </FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=3>Enfin, cliquez sur </FONT><FONT COLOR="#ffffff"><FONT SIZE=3><I><SPAN STYLE="background: #000080">Valider</SPAN></I></FONT></FONT><FONT SIZE=3>
et votre événement sera directement en ligne!</FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
        </div>
    </div>

        <div class=row>
        <div class="col-sm-12 col-md-12" align="center">
            <a href="{% url 'core:tutorial' %}" role="button" class="btn btn-warning btn-lg">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                Retour au tutoriel
            </a>
        </div>
    </div>
    <br>

{% endblock %}