{% extends 'core/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Contacter EnjoyToday
{% endblock %}

{% block description %}
    Contacter l'équipe d'EnjoyToday.fr
{% endblock %}

{% block content %}

    <div class="row">
        <h1> Contactez-nous </h1>
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail" align="center">
                <div class="caption">
                    <p> {% bootstrap_alert "Une question, un bugg ? Ecrivez-nous !!" %}</p>
                    <p> {% bootstrap_alert "Des idées à nous suggérer ? Envoyez-nous un mail !" alert_type='success' %}</p>
                    <address>
                        <strong>Mail :</strong><br>
                        <a href="mailto:enjoytodayproject@gmail.com" role="button" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        enjoytodayproject@gmail.com
                        </a>
                    </address>
                </div>
            </div>
        </div>

        <h1> Suivez-nous sur facebook </h1>
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail" align="center">
                <div class="caption">
                    <address>
                        <a href="https://www.facebook.com/EnjoyToday321/">
                        <img alt="EnjoyToday sur facebook" src="{% static "core/facebook.png" %}">
                        EnjoyToday sur Facebook</a>
                    </address>
                </div>
            </div>
        </div>

    </div>

{% endblock %}