{% extends 'core/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Contacter EnjoyToday
{% endblock %}

{% block description %}
    Contacter l'équipe d'EnjoyToday.fr
{% endblock %}

{% block content %}
    <div class="jumbotron"><h1>Contact</h1></div>

    <div class="row">
        <h2> Nous contacter </h2>
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail" align="center">
                <div class="caption">
                    <p> {% bootstrap_alert "Une question, un bugg ? Ecrivez-nous !!" %}</p>
                    <p> {% bootstrap_alert "Des idées à nous suggérer ? Envoyez-nous un mail !" alert_type='success' %}</p>
                    <address>
                        <strong>Mail :</strong><br>
                        <a href="mailto:enjoytodayproject@gmail.com" role="button" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        enjoytodayproject@gmail.com
                        </a>
                    </address>
                </div>
            </div>
        </div>
    </div>

{% endblock %}