{% extends 'core/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Utilisation des cookies sur EnjoyToday
{% endblock %}

{% block description %}
    Conditions d'Utilisation des Cookies sur les sites EnjoyToday
{% endblock %}

{% block content %}
    <h1> Charte sur les Cookies d’EnjoyToday</h1>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <p>EnjoyToday utilise les cookies afin de vous proposer un service web amélioré et davantage personnalisé. À
                travers cette Charte d’utilisation des Cookies d’Enjoytoday (la « Charte sur les Cookies »), nous vous
                présentons comment et pourquoi nous utilisons des cookies sur ce site, en toute transparence..</p>


            <h2>Qu’est-ce qu’un cookie ?  A quoi sert-il ?</h2>
            <p>Un cookie est un fichier texte enregistré, et/ou lu par votre navigateur, sur le disque dur de votre
                terminal (PC, ordinateur portable ou smartphone,...) et déposé par d’autres sites internet que vous
                visitez. La quasi-totalité des sites utilisent des cookies pour bien fonctionner et optimiser leur
                ergonomie et leurs fonctionnalités. Les cookies rendent également les interactions avec les sites
                davantage sécurisées et rapides,. En effet, ceux-ci peuvent se souvenir de vos préférences (par exemple
                votre identifiant ou votre langue) en renvoyant les informations qu’ils contiennent au site d’origine
                (cookie interne) ou à un autre site auquel ils appartiennent (cookie tiers), lorsque vous visitez à
                nouveau le site concerné à partir du même terminal. Selon leur fonction et le but de leur utilisation,
                les cookies sont classés parmi les catégories décrites ci-dessous et utilisées par Enjoytoday sur ce
                site :</p>

            <h3>Les cookies de base</h3>
            <p>Ces cookies vous permettent de vous déplacer sur le site et d’utiliser ses fonctionnalités de base. Ils
                sont généralement installés uniquement en réponse à des actions de votre part pour accéder à des
                services, tels que la connexion à un espace sécurisé de notre site. Ces cookies sont indispensables pour
                l’utilisation de ce site.</p>

            <h3>Les cookies de fonctionnalité</h3>
            <p>Ils sont utilisés pour vous reconnaître lorsque vous revenez sur notre site et nous permettent de vous
                proposer des fonctionnalités améliorées et davantage personnalisées, comme l’accueil nominatif et
                l’enregistrement de vos préférences (le choix de votre langue ou la région où vous vous trouvez par exemple).
                Ces cookies collectent des informations anonymes et ne peuvent pas tracer vos déplacements sur d’autres
                sites.</p>

            <h3>Les cookies d’analyse et de performance</h3>
            <p>Ils nous nous permettent de reconnaître et de compter le nombre de visiteurs sur notre site et de
                collecter des informations sur la manière dont notre site est utilisé (par exemple, quels sont les pages
                les plus vues par les visiteurs, est-ce que les internautes ont des messages d’erreur sur certaines de
                nos pages, etc.). Cela nous permet d’améliorer la façon dont notre site internet fonctionne, par exemple,
                en nous assurant, que les utilisateurs trouvent facilement ce qu’il cherche.</p>

            <h3>Les cookies publicitaires ou de ciblage</h3>
            <p> Ces cookies enregistrent votre visite sur notre site, ainsi que les pages que vous avez consultées et
                les liens que vous avez suivis. Nous utiliserons ces informations pour afficher des publicités
                pertinentes en fonction de vos centres d’intérêts. Ils sont également utilisés pour limiter le nombre
                d’affichages d’une même publicité et pour aider à mesurer l’efficacité des campagnes publicitaires. Ainsi,
                il se peut également que nous partagions ces informations auprès de tiers (les annonceurs par exemple).
            </p>

            <h2>Utilisation des cookies tiers</h2>
            <p>Veuillez noter que EnjoyToday utilise les services de tiers pour connaître votre utilisation de ce site,
                ceci afin d’optimiser votre expérience utilisateur et d’afficher des publicités en dehors de ce site.
                Ces tierces parties (comme par exemple des réseaux d’annonceurs et des prestataires de services externes,
                tels que les services d’analyse de trafic web) peuvent également utiliser des cookies <strong>que nous ne
                maîtrisons pas.</strong>
            </p>

            <h2>Que faire si vous ne souhaitez pas activer les cookies ?</h2>

            <p>Vous pouvez révoquer votre consentement à l’utilisation des cookies à tout moment, de la façon suivante :</p>

            <h3>En paramétrant votre navigateur internet :</h3>

            <p>Si vous souhaitez supprimer les cookies enregistrés sur votre terminal et paramétrer votre navigateur
                pour refuser les cookies, vous pouvez le faire via les préférences de votre navigateur internet. Ces
                options de navigation relatives aux cookies se trouvent habituellement dans les menus « Options »,
                « Outils » ou « Préférences » du navigateur que vous utilisez pour accéder à ce site. Cependant,
                selon les différents navigateurs existants, des moyens différents peuvent être utilisés pour désactiver
                les cookies. Pour en savoir plus vous pouvez suivre les liens référencés ci-dessous :</p>

                <ul>
                    <li><a href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies">Microsoft
                        Internet Explorer</a></li>
                    <li><a href="https://support.google.com/accounts/answer/61416?hl=fr">Google Chrome</a></li>
                    <li><a href="https://support.apple.com/kb/PH19214?locale=fr_FR&viewlocale=fr_FR">Safari</a></li>
                    <li><a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies">Firefox</a></li>
                    <li><a href="http://help.opera.com/Windows/10.20/fr/cookies.html">Opera</a></li>
                </ul>

            <p>Veuillez noter que si vous refusez, depuis votre navigateur internet, l’enregistrement de cookies sur
                votre terminal, vous serez toujours en mesure de naviguer sur ce site, mais certaines parties et options
                pourraient ne pas fonctionner correctement. </p>

            <h3>En désactivant les cookies en ligne :</h3>

            <h4>Cookies analytiques et de performance</h4>
            <ul>
                <li><a href="https://www.realytics.io/optout/">Realytics</a></li>
                <li><a href="https://tools.google.com/dlpage/gaoptout?hl=fr">Google Analytics</a></li>
                <li><a href="http://trck.spoteffects.net/analytics/index_siteid50.php?module=CoreAdminHome&action=optOut&language=fr">
                    SpotEffects</a></li>
                <li><a href="http://www.blablacar.fr?optimizely_opt_out=true">Optimizely</a></li>
            </ul>

            <h4>Cookies de ciblage ou publicitaires</h4>
            <ul>
                <li><a href="https://support.google.com/adsense/answer/2839090?hl=fr">DoubleClicks</a></li>
                <li><a href="http://www.mediarithmics.com/fr/mentions-legales.html">MediaRythmics</a></li>
            </ul>

            <h4>Cookies de réseaux sociaux</h4>
            <ul>
                <li><a href="https://fr-fr.facebook.com/help/cookies/">Facebook</a></li>
            </ul>

            <h2>Des questions relatives à la Charte sur les Cookies d’EnjoyToday ?</h2>
            <p>Si vous avez des questions concernant la Charte sur les Cookies d’EnjoyToday, n’hésitez pas à nous
                contacter par mail à l’adresse suivante :
                <a href="mailto:enjoytodayproject@gmail.com">enjoytodayproject@gmail.com</a>
            </p>

        </div>
    </div>

{% endblock %}