{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Soutenir EnjoyToday
{% endblock %}

{% block description %}
    Différents moyens de soutenir le projet EnjoyToday
{% endblock %}

{% block content %}

    <div class="row">
        <h1>Nous soutenir</h1>
        <h2> <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Donner votre avis sur ce site </h2>
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail" align="center">
                <div class="caption">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScgZ5dvJ7e6L5uqQ1QRTOENH_rCgQN5LM51OAqMUK3AVvgsKg/viewform" target="_blank" role="button" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                        Je donne mon avis
                    </a>
                </div>
            </div>
        </div>

        <h2> <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Participer financièrement à l'aventure EnjoyToday </h2>
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail" align="center">
                <div class="caption">
                    <p> {% bootstrap_alert "Vous pouvez faire un don en ligne pour nous aider financièrement" alert_type='success' %}</p>
                        <a href="https://www.leetchi.com/c/projet-enjoytoday-fr" target="_blank" role="button" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        Je participe à la cagnotte
                        </a>
                </div>
            </div>
        </div>

        <h2> <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Devenir ambassadeur EnjoyToday </h2>
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail" align="center">
                <div class="caption">

                    <h4>Vous souhaitez devenir ambassadeur EnjoyToday dans votre ville ?</h4>
                    <h4>Faire connaitre les événements que vous organisez ?</h4>
                    <h4>Ouvrir une antenne près de chez vous ?</h4>

                    <p>{% bootstrap_alert "Envoyez-nous un mail et nous vous recontacterons avec joie !" alert_type='info' %}</p>


                    <address>
                        <strong>Mail :</strong><br>
                        <a href="mailto:enjoytodayproject@gmail.com" role="button" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        enjoytodayproject@gmail.com
                        </a>
                    </address>

                </div>
            </div>
        </div>

    </div>

{% endblock %}