{% extends 'core/base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Menu Principal
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

<div class="container">
    <div class=row>
        <div class="col-md-8 col-md-offset-2 col-sm-12" align="center">
            <img src="{% static 'core/LOGO_N_underline.png' %}" class="img-responsive" alt="EnjoyToday.fr" />
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class=row>
        {# Big map #}
        <div class="hidden-xs col-md-6 col-md-offset-3 col-sm-12" align="center">
            <img src="{% static 'core/carte_noms_albi.png' %}" class="img-responsive" alt="implantation EnjoyToday" usemap="#Map" />
            {# mapping according to http://imagemap-generator.dariodomi.de/ #}
            <map name="Map" id="Map">
                <area alt="Paris" title="Paris" href="http://paris.enjoytoday.fr/catho" shape="poly" coords="211,74,212,114,324,119,326,75" />
                <area alt="Nice" title="Nice" href="http://nice.enjoytoday.fr/catho" shape="poly" coords="375,324,375,371,475,372,473,331" />
                <area alt="Albi" title="Albi" href="http://albi.enjoytoday.fr/catho" shape="poly" coords="177,315,183,367,277,363,275,317" />
            </map>
        </div>
         {# Small map #}
        <div class=" visible-xs col-md-6 col-md-offset-3 col-sm-12" align="center">
            <img src="{% static 'core/../../static/core/carte_petite.png' %}" class="img-responsive" alt="implantation EnjoyToday" usemap="#Map2" />
            {# mapping according to http://imagemap-generator.dariodomi.de/ #}
            <map name="Map2" id="Map2">
                <area alt="Paris" title="Paris" href="http://paris.enjoytoday.fr/catho" shape="poly" coords="89,33,88,48,136,49,135,37" />
                <area alt="Nice" title="Nice" href="http://nice.enjoytoday.fr/catho" shape="poly" coords="157,136,156,157,198,155,198,140" />
                <area alt="Albi" title="Albi" href="http://albi.enjoytoday.fr/catho" shape="poly" coords="77,135,78,151,112,150,116,136" />
            </map>
        </div>

        <div class="col-md-3 col-sm-12 text-center" align="center">
            <br>
            <br>
            <p class="lead">Rien de prévu ce soir? Un après midi disponible jeudi prochain? Trouvez facilement des événements près de chez vous!</p>
            <p class="lead">Vous organisez ou connaissez un événement? Postez votre annonce sur <a href="{% url 'core:index' %}">EnjoyToday.fr!</a></p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class=row>
        <div class="col-sm-12 col-md-12" align="center">
            <a href="{% url 'core:new_event' %}" role="button" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Poster une annonce
            </a>
        </div>
    </div>
    <br>
</div>

{% endblock %}
