{% extends 'core/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Conditions Générales d'Utilisation
{% endblock %}

{% block description %}
    Page des Conditions Générales d'Utilisation du site EnjoyToday.fr qui référence des propositions d'activités sur votre ville.
{% endblock %}

{% block content %}
    <div><h1>Charte de navigation sur Enjoytoday</h1></div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#ff0000"><FONT FACE="Cambria, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><U><B>Enjoy</B></U></FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT SIZE=4 STYLE="font-size: 16pt"><U><B>T</B></U></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Cambria, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><U><B>oday</B></U></FONT></FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><B>Le 1er agenda
collaboratif en ligne </B>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<UL>
	<LI><P STYLE="margin-bottom: 0in"><FONT COLOR="#000090"><FONT FACE="Cambria, serif"><B>Un
	site et une application pour&nbsp;:</B></FONT></FONT></P>
</UL>
<P STYLE="margin-bottom: 0in"><FONT FACE="Cambria, serif">- Faciliter
une recherche par date</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif">	</FONT></FONT><FONT COLOR="#76923c"><FONT FACE="Cambria, serif">-
Trouver que faire à proximité de chez soi</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif">		</FONT></FONT><FONT COLOR="#ff6600"><FONT FACE="Cambria, serif">-
Faire connaître un événement en quelques clics</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif">			</FONT></FONT><FONT COLOR="#800000"><FONT FACE="Cambria, serif">-
Mieux communiquer avec les autres de manière coopérative</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000090"><FONT FACE="Cambria, serif"><B>A
qui s’adresse EnjoyToday&nbsp;?</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif">A
tous&nbsp;!</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000090"><FONT FACE="Cambria, serif"><B>Un
site pour quoi&nbsp;?</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif">L’idée
de ce site internet est de révolutionner la manière de chercher une
information concernant des év</FONT></FONT>é<FONT COLOR="#000000"><FONT FACE="Cambria, serif">nements
</FONT></FONT>Chrétiens ou culturel<FONT COLOR="#000000"><FONT FACE="Cambria, serif">
</FONT></FONT>à Paris,<FONT COLOR="#000000"><FONT FACE="Cambria, serif">
un </FONT></FONT>jour<FONT COLOR="#000000"><FONT FACE="Cambria, serif">
précis, en utilisant non plus un mot clé pour démarrer la
recherche mais une date. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000090"><FONT FACE="Cambria, serif"><B>Avec
quelle ambition&nbsp;?</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif">C’est
en inscrivant chaque événement dans sa temporalité que nous
créerons une sorte d’agenda </FONT></FONT>participatif<FONT COLOR="#000000"><FONT FACE="Cambria, serif">
recensant tous les événements Chrét</FONT></FONT>iens et culturels
à Paris, Nice, Lyon et Albi<FONT COLOR="#000000"><FONT FACE="Cambria, serif">.
Ce site a pour vocation de </FONT></FONT>diffuser toutes les belles
initiatives <FONT COLOR="#000000"><FONT FACE="Cambria, serif">e</FONT></FONT>t
pourquoi pas s’étendre à d’autres villes plus tard.  
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000090"><FONT FACE="Cambria, serif"><B>Qui
répond à quelle demande&nbsp;?</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif">Cette
idée peut répondre à de nombreuses demandes&nbsp;:</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#3366ff"><FONT SIZE=4><B>1)</B></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>
</B></FONT></FONT></FONT><FONT COLOR="#3366ff"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>Référencer
sous forme d’agenda toutes les activités existantes</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif">-Premièrement,
c’est un site qui va faciliter grandement la recherche
d’information par date. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><I>Actuellement
google comme tous les autres moteur de recherche fonctionnent par mot
clef ce qui est pratique quand on sait ce que l’on cherche mais
absolument fastidieux quand il s’agit de rechercher un événement
pour une date précise. Exemple, je souhaite aller à une conférence
ce soir à Paris, je tape conférence paris 8 mars et je trouve
seulement 3 conférences sans aucune organisation logique entre elles
mais également des conférences à d’autres jours ou d’autres
activités qui se déroulent le 8 mars. </I></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><I>Ma
recherche n’est donc pas du tout épurée ni précise et encore
moins exhaustive. </I></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif">C’est
donc </FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><B>un
moyen de </B></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Cambria, serif"><B>référencer
sous forme d’agenda toutes les activités existantes</B></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><B>
en un lieu par heure</B></FONT></FONT><B> et </B><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><B>thème.
</B></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.17in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#3366ff"><FONT SIZE=4><B>2)</B></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>
</B></FONT></FONT></FONT><FONT COLOR="#3366ff"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>Promouvoir
toutes les belles initiatives</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif">-Deuxièmement
c’est un outil simple et rapide pour promouvoir toutes les
activités déjà existantes qui ne demandent qu’à augmenter leur
réputation et fréquentation. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><I><B>C’est
donc un outil qui se veut totalement gratuit, à destination de tous
et coopératif dans le but de </B></I></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Cambria, serif"><I><B>promouvoir
toutes les belles initiatives</B></I></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><I><B>
connues ou méconnues de </B></I></FONT></FONT><I><B>la ville</B></I><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><I><B>.
</B></I></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#3366ff"><FONT SIZE=4><B>3)</B></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>
</B></FONT></FONT></FONT><FONT COLOR="#3366ff"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>Susciter
la curiosité et l</B></FONT></FONT></FONT><FONT COLOR="#3366ff"><FONT SIZE=4><B>’intérêt</B></FONT></FONT><FONT COLOR="#3366ff"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>.
&nbsp;</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><A NAME="_gjdgxs"></A><FONT COLOR="#000000"><FONT FACE="Cambria, serif">-Troisièmement,
pour les personnes qui ne savent pas quoi faire lors d’une soirée,
d’une après-midi, voir d’une ou plusieurs journées, ce site
leur permettra rapidement d’être inform</FONT></FONT>ées<FONT COLOR="#000000"><FONT FACE="Cambria, serif">
sur les activités phares de la journée dans leur ville ou
simplement les activités à proximité directe de leur domicile.</FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><B>
</B></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><I>C’est
donc un</I></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><I><B>
agenda virtuel recensant toutes les activités qui permet de </B></I></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Cambria, serif"><I><B>susciter
la curiosité et </B></I></FONT></FONT><FONT COLOR="#ff0000"><I><B>l'intérêt</B></I></FONT><FONT COLOR="#ff0000"><FONT FACE="Cambria, serif"><I><B>.</B></I></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><I><B>
</B></I></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>



    </div>
    </div>

    {# bouton retour #}
    <div class=row>
        <div class="col-sm-6 col-md-6" align="center">
            <a href="{% url 'core:index' %}" role="button" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                Retour à la page principale
            </a>
        </div>

            <div class="col-sm-6 col-md-6" align="center">
            <a href="{% url 'core:tutorial' %}" role="button" class="btn btn-warning btn-lg">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                Retour au tutoriel
            </a>
        </div>
    </div>
    <br>
{% endblock %}