{# has to be written properly: no idea of navbar aims for the moment #}
{# we have core_sidebar in context processor though #}
 <ul class="nav nav-sidebar">
     {% block top_sidebar %}
     {% endblock %}
  </ul>

  <ul class="nav nav-sidebar">
    {% block mid_sidebar %}
    {% endblock %}
  </ul>

  <ul class="nav nav-sidebar">
    {% block bottom_sidebar %}
        <li class="active"><a href="{% url 'catho:nouvel_evenement' %}">Poster un événement <span class="sr-only">(current)</span></a></li>
    {% endblock %}
  </ul>