{# put what is different in topbar between cities and topic in a block and overwrite it in topic/base.css #}
{% load static %}

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
 <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="{% url 'core:index' %}"> <img alt="EnjoyToday" src="{% static 'core/Logo_ligne_B_petit_v3.png' %}"> </a>

  {% block city %}{% endblock %}

 </div>

<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">

        {% block topics %}{% endblock %}

  </ul>

  <ul class="nav navbar-nav navbar-right">

    {% block research %}{% endblock %}

    {% if user.is_authenticated %}
     <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connecté en tant que {{user.username}}  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'crud:event_planner_panel' %}">Tableau de bord</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'connection:logout' %}">Déconnexion</a></li>
          </ul>
     </li>
    {%else%}
        <li><a href="{% url 'connection:login' %}">Se connecter</a></li>
    {% endif %}
  </ul>


</div>

</div>
</nav>