{% extends 'crud/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Nouvel événement
{% endblock %}

{% block base_extra_head %}
    {{ multiple_occurrence_form.media }}
    {{ formset.media }}
{% endblock %}

{% block content %}
    <h1>Ajouter un événement</h1>


    <div id="services" class="row">
        <div class="col-sm-12 col-md-12">

            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if error %}
                    <p> {% bootstrap_alert "Veuillez resélectionner les dates" alert_type='warning' %} </p>
                {%  endif %}

                <h2>Here is formset</h2>
                {{ formset.management_form }}
                {% for form in formset %}
                    <h3>Date n°{{forloop.counter}}</h3>
                        {% bootstrap_form form %}
                {% endfor %}

                <h2>Here is multiple_occurrence form</h2>
                {% bootstrap_form multiple_occurrence_form %}

                {% buttons submit='Valider' reset="Annuler" %}{% endbuttons %}

            </form>

        </div>
    </div>

{% endblock %}
