{% extends 'catho/bootstrap3.html' %}

{% load bootstrap3 %}
{% load static %}

{# make shure that childrens of this template don't call bootstrap3_extra_head #}
{% block bootstrap3_extra_head %}
    <link href="{%  static 'today/base.css' %}" rel="stylesheet">

    {% block base_extra_head %}{% endblock %}
{% endblock %}


{% block title %}
    (no content)
{% endblock %}


{% block bootstrap3_content %}

    {% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}"> <img alt="EnjoyToday" src="{% static "today/logo_petit.jpg" %}"> </a>
          <a class="navbar-brand" href="{% url 'index' %}"> Enjoy Today </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}">Recherche</a></li>
            <li><a href="{% url 'contact' %}">Contactez-nous</a></li>
            {% if user.is_authenticated %}
             <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connecté en tant que {{user.username}}  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'event_planner_panel' %}">Tableau de bord</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                  </ul>
             </li>
            {%else%}
                <li><a href="{% url 'login' %}">Se connecter</a></li>
            {% endif %}
          </ul>
          {# <form class="navbar-form navbar-right"><input type="text" class="form-control" placeholder="Search..."></form> #}
        </div>
      </div>
    </nav>
    {% endblock %}

    <div class="container">
    <div class="row">
        {% block middle %}

        <div class="col-sm-9">
        {% block content %}(no content){% endblock %}
        </div>

        <div class="col-sm-offset-1 col-sm-2">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'today_events' %}">Aujourd'hui</a></li>
            <li><a href="{% url 'tomorrow_events' %}">Demain</a></li>
            <li><a href="{% url 'coming_days_events' %}">Les prochains jours</a></li>
          </ul>
          <ul class="nav nav-sidebar">
              {% for event_type in nav_list %}
            <li><a href="{{event_type.get_absolute_url}}">{{ event_type.label|capfirst }}</a></li>
              {% endfor %}
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'nouvel_evenement' %}">Poster un événement <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>

        {% endblock %}

    </div>

      <footer>
        <p class="pull-right" ><a href="#">Back to top</a></p>
        <p><a href="{% url 'contact' %}">&copy; 2015 TodayProjectCompany, Inc. &middot;</a> {# <a href="#">Privacy</a> &middot; <a href="#">Terms</a> #}</p>
      </footer>

    </div>

{% endblock %}
