{% extends 'catho/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <div class="jumbotron"><h1>Contact</h1></div>

    <div class="row">
        <h2> Nous contacter </h2>
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail" align="center">
                <div class="caption">
                    <p> {% bootstrap_alert "Une question, un bugg? Ecrivez-nous!!" %}</p>
                    <address>
                        <strong>Mail :</strong></br>
                        <a href="{# url '' #}" role="button" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        enjoytodayproject@gmail.com
                        </a>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h2> L'équipe </h2>
        </div>
    </div>

    <h3> Jean-Baptiste</h3>
    <div class="row">
        <div class="col-xs-9 col-md-9">
            <p> Ingénieur informaticien engagé dans sa paroisse, Jean-Baptiste a voulu proposer un service qui permet à chacun de proposer et de se tenir au courant des événements spirituels à proximité de son lieu de vie.</p>
        </div>
        <div class="col-xs-3 col-md-3">
            <img src="{% static 'today/jb.jpg' %}" class="img-responsive" alt="JB" />
        </div>
    </div>

    <h3> Antoine </h3>
    <div class="row">
        <div class="col-xs-3 col-md-3">
            <img src="{% static 'today/antoine.jpg' %}" class="img-responsive" alt="Antoine" />
        </div>
        <div class="col-xs-9 col-md-9">
            <p>Educateur spécialisé à la fondation d'Auteuil à Paris, Antoine a eu un jour l'idée de lancer un site internet qui recenserait toutes les activités spirituelles et sociales en région parisienne, de façon simple et immédiate. </p>
        </div>
    </div>

    <h3> Yves </h3>
    <div class="row">
        <div class="col-xs-9 col-md-9">
            <p> Blabla Yves </p>
        </div>
        <div class="col-xs-3 col-md-3">
            <img src="{% static 'today/yves.jpg' %}" class="img-responsive" alt="Yves" />
        </div>
    </div>

    <h3> Wood </h3>
    <div class="row">
        <div class="col-xs-3 col-md-3">
            <img src="{% static 'today/wood.jpg' %}" class="img-responsive" alt="Wood" />
        </div>
        <div class="col-xs-9 col-md-9">
            <p> Blabla Wood </p>
        </div>
    </div>


{% endblock %}