{% extends 'catho/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <div class="jumbotron"><h1>Contact</h1></div>

    <div class="row">
        <h2> Nous contacter </h2>
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail" align="center">
                <div class="caption">
                    <p> {% bootstrap_alert "Une question, un bugg? Ecrivez-nous!!" %}</p>
                    <address>
                        <strong>Mail :</strong></br>
                        <a href="{# url '' #}" role="button" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        enjoytodayproject@gmail.com
                        </a>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h2> L'équipe </h2>
        </div>
    </div>

    <div class="thumbnail">
        <div class="caption">
            <h3> Antoine </h3>
            <div class="row">
                <div class="col-xs-9 col-md-9">
                    <p> Éducateur dans la prévention spécialisé, Antoine 26 ans, a eu l’idée l'idée de lancer un site internet qui recenserait toutes les activités spirituelles et sociales en région parisienne, de façon simple et immédiate.</p>
                    <p> Il est le directeur général de EnjoyToday. Il est également l’auteur du livre « Pour moi, vivre c’est le Christ » qui relate son parcours.</p>
                </div>
                <div class="col-xs-3 col-md-3">
                    <img src="{% static 'catho/antoine.jpg' %}" class="img-responsive" alt="Antoine" />
                </div>
            </div>
        </div>
    </div>

    <div class="thumbnail">
        <div class="caption">
            <h3> Claire </h3>
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <img src="{% static 'catho/claire.jpg' %}" class="img-responsive" alt="Claire" />
                </div>
                <div class="col-xs-9 col-md-9">
                    <p>Étudiante en Master de développement économique et social Paris 1 Sorbonne, Claire 22 ans, s’investit dans de nombreuses associations sociales et solidaires en France et à l’étranger.</p>
                    <p>Elle est la directrice de la communication. </p>
                </div>
            </div>
        </div>
    </div>


    <div class="thumbnail">
        <div class="caption">
            <h3> Wood </h3>
            <div class="row">
                <div class="col-xs-9 col-md-9">
                    <p> Auditeur financier et informatique, Wood 26 ans, est très engagé au service de sa paroisse et dans plusieurs groupes de prière parisiens. </p>
                    <p> Il est directeur juridique et financier.</p>
                </div>
                <div class="col-xs-3 col-md-3">
                    <img src="{% static 'catho/wood.jpg' %}" class="img-responsive" alt="Wood" />
                </div>
            </div>
        </div>
    </div>

    <div class="thumbnail">
        <div class="caption">
            <h3> Marie </h3>
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <img src="{% static 'catho/marie.jpg' %}" class="img-responsive" alt="Marie" />
                </div>
                <div class="col-xs-9 col-md-9">
                    <p> Experte en management de projet et graphiste à ses heures perdues, Marie voit en EnjoyToday l’opportunité de faire découvrir de belles initiatives. </p>
                    <p>Elle est coordinatrice du projet et responsable de l’identité visuelle.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="thumbnail">
        <div class="caption">
            <h3> Jean-Baptiste </h3>
            <div class="row">
                <div class="col-xs-9 col-md-9">
                    <p> Ingénieur et ancien chef scout, Jean-Baptiste a voulu créer un service qui permet à chacun de proposer et de se tenir au courant des événements spirituels à proximité de son lieu de vie. </p>
                    <p> Il est le directeur des opérations.</p>
                </div>
                <div class="col-xs-3 col-md-3">
                    <img src="{% static 'catho/jb.jpg' %}" class="img-responsive" alt="JB" />
                </div>
            </div>
        </div>
    </div>

    <div class="thumbnail">
        <div class="caption">
            <h3> Yves </h3>
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <img src="{% static 'catho/yves.jpg' %}" class="img-responsive" alt="Yves" />
                </div>
                <div class="col-xs-9 col-md-9">
                    <p>Ingénieur en télécommunications,  Yves a rejoint EnjoyToday au commencement. Il voit en cette initiative l’occasion de favoriser les rencontres entre chrétiens et également de développer une nouvelle forme d’évangélisation.</p>
                    <p>Il est directeur adjoint des opérations.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}