{% extends 'catho/base.html' %}

{% load bootstrap3 %}

{% block title %}
   Supprimer Evénement
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Supprimer l'événement</h1>
    </div>

    <div id="services" class="row">
        <div class="col-sm-12 col-md-12">

            <p> {% bootstrap_alert "Êtes vous sûr de vouloir supprimer l'événement?" alert_type='danger' %} </p>

            <p>
                 <form role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_button "Oui" button_type="submit" button_class="btn-danger"%}
                 </form>
            </p>

            <p>
                <a href="{% url "event_planner_panel" %}" role="button" class="btn btn-warning">
                   Non
                </a>
            </p>

        </div>
    </div>

{% endblock %}
