{% extends 'catho/base.html' %}

{% load bootstrap3 %}

{% block title %}
   Connexion effectuée
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Connexion</h1>
    </div>

    <div id="services" class="row">
        <div class="col-sm-12 col-md-12">
            <p> {% bootstrap_alert "Vous êtes à présent connecté" alert_type='info' %} </p>

            <p>
            <a href="{% url 'nouvel_evenement' %}" role="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Poster un événement
            </a>
            </p>

            <p>
            <a href="{% url 'event_planner_panel' %}" role="button" class="btn btn-warning btn-lg">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            Tableau de bord organisateur
            </a>
            </p>

        </div>
    </div>

{% endblock %}
