{% extends 'catho/bootstrap3.html' %}

{% load bootstrap3 %}


{% block title %}
    Menu Principal
{% endblock %}

{% block bootstrap3_extra_head %}
    {{ form.media }}
{% endblock %}

{% block bootstrap3_content %}

<div class="container">

    <div class="jumbotron">
        {# image statique par exemple #}
        <h1>Que faire à Paris?</h1>
    </div>

    {# Input form #}
    <div id="services" class="row">
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail" align="center">
                <form role="form" method="post">
                    {% csrf_token %}
                    {%bootstrap_form form %}
                    {% buttons submit='Enjoy!'%}{% endbuttons %}
                </form>
            </div>
        </div>
    </div>

    <div id="services" class="row">
        <div class="col-sm-12 col-md-12" align="center">
            <a href="{% url 'nouvel_evenement' %}" role="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Poster un événement
            </a>
        </div>
    </div>

</div>

{% endblock %}