{% extends 'topic/base.html' %}

{% load bootstrap3 %}
{% load static %}


{% block title %}{{current_topic.name|capfirst}}: rechercher sur {{city_name|capfirst}}{% endblock %}


{% block description %}
    Rechercher des propositions {{current_topic.name|capfirst}} sur {{city_name|capfirst}}.
{% endblock %}

<!-- Bootstrap Date-Picker Plugin -->
{% block base_extra_head %}
    {{ form.media }}
    {%  include "widget/calendar_css.html" %}
{% endblock %}

{% block base_extra_script %}
    {%  include "widget/calendar_js.html" %}
{% endblock %}

{# removed sidebar here #}
{% block sidebar %}{% endblock %}

{% block content %}

<div class="container">

   <!-- <div class=row>
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" align="center">
            <img src="{% static 'core/LOGO_N_underline.png' %}" class="img-responsive" alt="EnjoyToday.fr" />
        </div>
    </div>

    <br>
    <br>

    -->

    <form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {# hidden field that receive calendar input#}
    {% bootstrap_field form.quand %} {# #id_quand actually hidden in the back of this field #}

        <div class=row>
            {% if form.errors %}
                <p> {% bootstrap_alert "Merci de vérifer la date et les  horaires" alert_type='warning' %} </p>
            {% endif %}

            <div class="col-md-4 col-sm-12" align="left">
                <h2> Où ? </h2><br>
                <a href="http://www.enjoytoday.fr" role="button" class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    {{ city_name }}
                </a>
            </div>

            <div class="col-md-4 col-sm-12" align="center">
                <h2> Quand ?</h2>
                <br>
                {# calendar prompting #}
                <div class ="row" id="calendar"></div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">{% bootstrap_field form.start_hour %}</div>
                    <div class="col-md-6 col-sm-6">{% bootstrap_field form.end_hour %}</div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12" align="right">
                 <h2> Quoi ?</h2><br>
                {% bootstrap_field form.quoi show_label=False size="large"%}
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                {% bootstrap_button "Enjoy!" button_type="submit" size="lg" button_class="btn-success" icon="play" %}
            </div>
        </div>

    </form>

        <br>

    <div class="row">
        <div class="col-sm-12 col-md-12" align="center">
            <a href="{% url 'topic:crud:nouvel_evenement' %}" role="button" class="btn btn-info btn-md">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Poster un événement
            </a>
        </div>
    </div>
    <br>
</div>


{% endblock %}

