{% extends 'topic/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load easy_maps_tags %}

{% block title %}
    {{ occurrence.event.title|capfirst }} à {{city_name}}
{% endblock %}


{% block description %}
   {{ occurrence.event.title|capfirst }} à {{city_name}} : renseignements et informations.
{% endblock %}

{% block content %}


    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-sm-12 col-md-12">
            <div align="center">
                <img src="{{ occurrence.event.image_main.url }}" class="img-responsive" alt="{{ occurrence.event.title|capfirst }}">
            </div>
            <h1>{{ occurrence.event.title|capfirst }}</h1>
        </div>
    </div>

    <div id="description" class="row">
        <div class="col-sm-12 col-md-8">
            <div class="thumbnail">
                <div class="caption">
                    <p>{{ occurrence.event.description|linebreaks }}</p>
                    <p> <strong> Contact : </strong>{{ occurrence.event.contact|urlizetrunc:30|linebreaks }}</p>
                    <p> <strong> Lien : </strong>{{ occurrence.event.website|urlizetrunc:40 }}</p>
                    <p> <strong> Accès : </strong>{{ occurrence.event.public_transport }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12" align="center">
                    {% easy_map address 500 300 %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <p role = presentation>Date de l'événement:</p>
                    <p role = presentation>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <a href="{% url 'topic:daily_events' occurrence.start_time|date:'Y' occurrence.start_time|date:'m' occurrence.start_time|date:'d' %}">{{ occurrence.start_time|date:"l d F" }}</a>
                    </p>
                    <p role = presentation>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        {{ occurrence.start_time|date:"H" }}h{{ occurrence.start_time|date:"i"}} - {{ occurrence.end_time|date:"H"}}h{{ occurrence.end_time|date:"i"}}
                    </p>
                    <p role = presentation>
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        {{ address|capfirst }}
                    </p>
                    <p role = presentation>
                        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                        {% if occurrence.event.price == 0 %}
                            gratuit
                        {% else %}
                            {{ occurrence.event.price }}€
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}