{% extends 'topic/base.html' %}

{% load bootstrap3 %}
{% load static %}


{% block title %}Menu Principal{% endblock %}

<!-- Bootstrap Date-Picker Plugin -->
{% block base_extra_head %}
    {{ form.media }}
    {%  include "widget/calendar_css.html" %}
{% endblock %}

{% block base_extra_script %}
    {%  include "widget/calendar_js.html" %}
{% endblock %}

{# removed sidebar here #}
{% block sidebar %}{% endblock %}

{% block content %}

<div class="container">

    <div class=row>
        <div class="col-md-8 col-md-offset-2 col-sm-12" align="center">
            <img src="{% static 'core/LOGO_N_underline.png' %}" class="img-responsive" alt="EnjoyToday.fr" />
        </div>
    </div>

    <br>
    <br>
    <form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_field form.quand %}{# hidden field #}

        <div class=row>
            {% if form.errors %}
                <p> {% bootstrap_alert "Merci de vérifer la date et les  horaires" alert_type='warning' %} </p>
            {% endif %}

            <div class="col-md-4 col-sm-12" align="center">
                <h2> Où ? </h2><br>
                <a href="http://wwww.enjoytoday.fr" role="button" class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    {{site.name}}
                </a>
            </div>

            <div class="col-md-4 col-sm-12" align="center">
                <div id="calendar"> <h2> Quand ?</h2></div><br>
                <div class="row">
                    <div class="col-md-6 col-sm-6">{% bootstrap_field form.start_hour %}</div>
                    <div class="col-md-6 col-sm-6">{% bootstrap_field form.end_hour %}</div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12" align="center">
                 <h2> Quoi ?</h2><br>
                {% bootstrap_field form.quoi show_label=False size="large"%}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                {% bootstrap_button "Enjoy!" button_type="submit" size="lg" button_class="btn-success" icon="play" %}
            </div>
        </div>

    </form>

        <br>
        <br>

    <div class="row">
        <div class="col-sm-12 col-md-12" align="center">
            <a href="{% url 'topic:crud:nouvel_evenement' %}" role="button" class="btn btn-info btn-md">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Poster un événement
            </a>
        </div>
    </div>
    <br>
</div>


{% endblock %}

