{# we have topic_sidebar in context processor #}
<div class="hidden-xs">
    <br>
</div>

<ul class="nav nav-sidebar">
    <li><a href="{% url 'location:topic:today_events' city_slug=city.city_slug topic_name=topic.name %}">Aujourd'hui</a></li>
    <li><a href="{% url 'location:topic:tomorrow_events' city_slug=city.city_slug topic_name=topic.name %}">Demain</a></li>
    <li><a href="{% url 'location:topic:coming_days_events' city_slug=city.city_slug topic_name=topic.name %}">Les prochains jours</a></li>
</ul>

<ul class="nav nav-sidebar">
    <li class="active"><a href="{% url 'core:new_event' %}">Poster un événement <span class="sr-only">(current)</span></a></li>
</ul>

<ul class="nav nav-sidebar">
    {% for event_type in all_event_type_list %}
        <li><a href="{% url  'location:topic:event_type_coming_days' city_slug=city.city_slug topic_name=topic.name event_type_id_string=event_type.pk %}">{{ event_type.label|capfirst }}</a></li>
    {% endfor %}
</ul>

