{% extends 'topic/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    {{ title }} à {{ site.name }}
{% endblock %}

{% block description %}
    {{ title }} proposées à {{ site.name }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>
                {% if days|length > 1 and days|length <= 25 %}
                    Les prochains jours
                {% elif days|length > 25 %}
                    {{ days|first|date:"F Y"|capfirst}}
                {% else %}
                    {{ days|first|date:"l d F Y"|capfirst }}
                 {% endif %}
            </h1>
        </div>
    </div>



    {% for event_type, occurrences in sorted_occurrences.items %}
    <div class="thumbnail" >
        <div class="row" >
            <div class="col-sm-12 col-md-6">
                <a href = {{ event_type.get_absolute_url }}>
                <img src="{{ event_type.image.url }}" class="img-responsive" alt="{{event_type.label}}" />
                </a>
            </div>
        </div>
        {% if occurrences %}
            <div class="caption">
                {% for occurrence in occurrences %}
                    {% if forloop.first %}<div class="row" >{% endif %}
                        <div class="col-md-4">
                            {%  include "topic/thumbnail.html" %}
                        </div>
                    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
                    {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>

        {# if no occurence in the category #}
        {% else %}
            <h3> Pas de contenu pour la période sélectionnée</h3>
        {% endif %}

    </div>
    {% endfor %}


{% endblock %}