{% extends 'core/topbar.html' %}

 {% block city %}
       <a class=" navbar-brand navbar-city" href="{% url 'core:index' %}"> <strong>{{ city.city_name }}</strong> </a>
 {% endblock %}

{% block research %}
    <li><a href="{% url 'location:topic:index' city_slug=city.city_slug topic_name=topic.name %}">Rechercher</a></li>
{% endblock %}

{% block topics %}

    {% for topic in topic_list %}
      <li {% if topic == current_topic %} class="active" {% endif %} >
          <a href="{% url 'location:topic:index' city_slug=city.city_slug topic_name=topic.name %}">{{ topic.name|capfirst }}</a>
      </li>
    {% endfor %}

{% endblock %}