{% extends 'crud/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Choix nouvel événement {{ current_topic }}
{% endblock %}

{% block content %}

    <h1> Quelle fréquence? </h1>


    <div id="services" class="row">
        <div class="col-sm-12 col-md-12" align="center">
            <p>{% bootstrap_alert  "Avant de poster un événement, assurez vous qu'il n'a pas déjà été renseigné par quelqu'un d'autre" alert_type='danger' %}  </p>
            <p>{% bootstrap_alert "Pour poster des événements qui durent plusieurs jours, veuillez poster plusieurs dates" %}  </p>
            <p>
            <a href="{% url 'topic:crud:nouvel_evenement_simple' %}" role="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Poster un événement unique
            </a>
            </p>

            <p>
            <a href="{% url 'topic:crud:nouvel_evenement_multiple' %}" role="button" class="btn btn-warning btn-lg">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Poster un événement répétitif
            </a>
            </p>

            <p>
            <a href="{% url 'topic:crud:add_multiple_dates' %}" role="button" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Poster plusieurs dates
            </a>
            </p>
        </div>
    </div>

{% endblock %}