{% extends 'crud/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
    Nouvel événement
{% endblock %}

{# to allow recurrence_form.query #}
{% block base_extra_head %}
    {{ topic_forms.media }}
    {{ event_form.media }}
    {{ single_occurrence_formset.media }}
    {{ multiple_occurrence_formset.media }}
{% endblock %}

{% block content %}
    <div id="services" class="row">
        <div class="col-sm-12 col-md-12">

            <h1>Ajouter un événement</h1>

            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <h2>Thématique de l'annonce</h2>
                {% if topic_error %}
                    <p> {% bootstrap_alert "Sélectionner un seul topic" alert_type='warning' %} </p>
                {% endif %}
                {% include "crud/topic_forms_template.html" %}


                <h2>Description de l'événement</h2>
                {% bootstrap_form event_form %}

                <h2>Occurrences</h2>
                {% if occurrence_error %}
                    <p> {% bootstrap_alert "Merci de sélectionner un unique type d'occurrences" alert_type='warning' %} </p>
                {% endif %}
                {% include "crud/occurrences_form_template.html" %}

                </br>
                {% bootstrap_button "Valider" button_type="submit" button_class="btn-success"%}
                {% bootstrap_button "Annuler" button_type="reset" button_class="btn-danger"%}
                </br>
            </form>

        </div>
    </div>

{% endblock %}
