{% extends 'crud/base.html' %}

{% load bootstrap3 %}

{% block title %}
   Supprimer Evénement
{% endblock %}

{% block content %}
    <h1>Supprimer l'événement</h1>

    <div id="services" class="row">
        <div class="col-sm-12 col-md-12">

            <p> {% bootstrap_alert "Êtes vous sûr de vouloir supprimer l'événement?" alert_type='danger' %} </p>


            <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                 <p>
                    {% bootstrap_button "Oui" button_type="submit" button_class="btn-danger"%}
                 </p>
            </form>


            <p>
                <a href="{% url 'core:event_planner_panel' %}" role="button" class="btn btn-warning">
                   Non
                </a>
            </p>

        </div>
    </div>

{% endblock %}
