{% extends 'crud/base.html' %}

{% load bootstrap3 %}

{% block base_extra_head %}
    {{ form.media }}
{% endblock %}

{% block title %}
    Modifier occurrence
{% endblock %}

{% block content %}

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-sm-12 col-md-12">
            <div align="center">
                <img src="{{ occurrence.event.image_main.url }}" class="img-responsive" alt="{{occurrence.event.title}}">
            </div>
            <h1>{{ occurrence.event.title }}</h1>
        </div>
    </div>

        <div id="services" class="row">
        <div class="col-sm-12 col-md-12">

            {% if form.errors %}
                <p> {% bootstrap_alert "Merci de corriger le formulaire" alert_type='warning' %} </p>
            {% endif %}

            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons submit='Modifier' reset="Annuler" %}{% endbuttons %}
            </form>

        </div>
    </div>

{% endblock %}