{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}
    <h1>Inscription</h1>

    <div id="services" class="row">
        <div class="col-sm-12 col-md-12">

            {% if connexion_form.errors %}
                <p> {% bootstrap_alert "Merci de corriger le formulaire" alert_type='warning' %} </p>
            {% endif %}

            {% if user.is_authenticated %}
                Vous êtes déjà connecté, {{ user.username }} !
            {% else %}
                <p>{% bootstrap_alert  "Choisissez un nom d'utilisateur sans espaces ni accent." alert_type='info' %}  </p>
                <p>{% bootstrap_alert  "Choisissez un mot de passe d'au moins 8 caractères, différent du nom d'utilisateur." alert_type='warning' %}  </p>
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form registration_form %}
                    {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
                </form>
            {% endif %}

        </div>
    </div>


{% endblock %}
