{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
    <h1>Connexion</h1>

    <div id="services" class="row">
        <div class="col-sm-12 col-md-12">

            {% if error %}
                <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
            {% endif %}

            {% if connexion_form.errors %}
                <p> {% bootstrap_alert "Merci de corriger le formulaire" alert_type='warning' %} </p>
            {% endif %}

            {% if user.is_authenticated %}
                Vous êtes connecté, {{ user.username }} !
            {% else %}
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form connexion_form %}
                    {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
                </form>
            {% endif %}
            <p>
                <a href="{% url 'connection:registration' %}" role="button" class="btn btn-danger btn-md">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                   Créer un compte
                </a>
            </p>
        </div>
    </div>


{% endblock %}
