{% extends 'today/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    {{ event_type.label|capfirst }}
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <img src="{{ event_type.image.url }}" class="img-responsive" alt="..." />
        <h1>{{ event_type.label|capfirst }}</h1>
    </div>

    {# list_categories and list_events for the selected date only #}

    <div id="services" class="row">
        <h2>Les prochains jours</h2>
        {% if occurrences %}
            {% for occurrence in occurrences %}
                <div class="col-sm-12 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ occurrence.event.image.url }}" class="img-responsive" alt="..." />
                        <div class="caption">
                            <h3><a href = {{ occurrence.get_absolute_url }}> {{ occurrence.event.title }} </a></h3>
                            <p>{{ occurrence.event.description|slice:":100" }}...</p>
                            <p role = presentation>
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <a href="{% url 'daily_events' occurrence.start_time|date:'Y' occurrence.start_time|date:'m' occurrence.start_time|date:'d' %}">{{ occurrence.start_time|date:"l d F" }}</a>
                            </p>
                            <p role = presentation>
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                {{ occurrence.start_time|date:"H" }}h{{ occurrence.start_time|date:"i" }}
                            </p>
                            <p role = presentation>
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                {{ occurrence.event.address }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {# if no content#}
        {% else %}
            <h3>Pas de contenu pour la période sélectionnée</h3>
    {% endif %}
    </div>

{% endblock %}