{% extends 'today/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    classement par catégories
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    </div>

    <div id="services" class="row">
        <h2>Aujourd'hui</h2>
        {# for event in event_today[:3] #}
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img src="{% static "today/eglise2.jpg"%}" class="img-responsive" alt="..." />
                <div class="caption">
                    <h3>SAUNA</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum ultricies sapien, vel tempor massa varius eu. Nulla facilisi. Suspendisse suscipit diam quis mauris cursus, sed iaculis tortor.</p>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            {% bootstrap_button "21/02/89" button_type="link" size="lg" href="" icon="calendar" %}
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            {% bootstrap_button "2h45" button_type="link" size="lg" href="" icon="time" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# endfor #}

    <div id="services" class="row">
        <h2>Demain</h2>
        {# for event in event_tomorrow[:3] #}
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img src="image/sauna.jpg" class="img-responsive" alt="..." />
                <div class="caption">
                    <h3>TRUC</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum ultricies sapien, vel tempor massa varius eu. Nulla facilisi. Suspendisse suscipit diam quis mauris cursus, sed iaculis tortor.</p>
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <i class="fa fa-2x fa-calendar"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <p>04/01/2015</p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <i class="fa fa-2x fa-clock-o"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <p>2:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# endfor #}

    <div id="services" class="row">
        <h2>Cette semaine</h2>
        {# for event in event_week[:3] #}
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img src="image/sauna.jpg" class="img-responsive" alt="..." />
                <div class="caption">
                    <h3>SAUNA</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum ultricies sapien, vel tempor massa varius eu. Nulla facilisi. Suspendisse suscipit diam quis mauris cursus, sed iaculis tortor.</p>
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <i class="fa fa-2x fa-calendar"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <p>04/01/2015</p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <i class="fa fa-2x fa-clock-o"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <p>2:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# endfor #}

{% endblock %}