{% extends 'today/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    classement par dates
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>{{ dt|date:"D d M Y" }}</h1>
    </div>

    {# list_categories and list_events for the selected date only #}
    {% for event_type in event_types_list %}
    <div id="services" class="row">
        <h2>{{ event_type.label }}</h2>
    {# TODO need to sort events by event_type #}
        {% for event in events_list %}
            {% if event.event_type == event_type %}
                <div class="col-sm-12 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ event.image.url }}" class="img-responsive" alt="..." />
                        <div class="caption">
                            <h3><a href = {{event.get_absolute_url }}> {{ event.title }} </a></h3>
                            <p>{{ event.description }}</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p role = presentation>
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        <a href="#">{{ event.next_occurrence.start_time }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}