{% extends 'today/base.html' %}

{% load bootstrap3 %}
{% load static %}


{% block title %}
    Formulaire
{% endblock %}

{# to get correct js#}
{% block bootstrap3_extra_head %}
    {{form.media}}
{% endblock %}

{% block content %}
    {# Wrap the rest of the page in another container to center all of the content #}
    <form role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
    </form>

{% endblock %}
