{# extends 'today/add_multiple_occurrences_event.html' #}

{# block frequences_form #}

{{ multiple_occurrences_form.non_field_errors }}

<p> Horaires de début et fin de chaque occurrence </p>
<div class="form-group">
    {{ multiple_occurrences_form.start_time.errors }}
    {{ multiple_occurrences_form.start_time.label_tag }}
    {{ multiple_occurrences_form.start_time }}
</div>

<div class="form-group">
    {{ multiple_occurrences_form.end_time.errors }}
    {{ multiple_occurrences_form.end_time.label_tag }}
    {{ multiple_occurrences_form.end_time }}
</div>

<p> Plage de jours durant lesquels ont lieu les événements</p>
<div class="form-group">
    {{ multiple_occurrences_form.start_date.errors }}
    {{ multiple_occurrences_form.start_date.label_tag }}
    {{ multiple_occurrences_form.start_date }}
</div>

<div class="form-group">
    {{ multiple_occurrences_form.end_date.errors }}
    {{ multiple_occurrences_form.end_date.label_tag }}
    {{ multiple_occurrences_form.end_date }}
</div>

<p> L'événement a lieu tout(es) les : </p>
<div class="form-group">
    {{ multiple_occurrences_form.interval.errors }}
    {{ multiple_occurrences_form.interval.label_tag }}
    {{ multiple_occurrences_form.interval }}
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#days" aria-controls="days" role="tab" data-toggle="tab">days</a></li>
    <li role="presentation"><a href="#weeks" aria-controls="weeks" role="tab" data-toggle="tab">weeks</a></li>
    <li role="presentation"><a href="#months" aria-controls="months" role="tab" data-toggle="tab">months</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="days">
    </div>
    <div role="tabpanel" class="tab-pane" id="weeks">
        <div class="form-group">
            {{ multiple_occurrences_form.week_days.errors }}
            {{ multiple_occurrences_form.week_days.label_tag }}
            {{ multiple_occurrences_form.week_days }}
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="months">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#on_the" aria-controls="on_the" role="tab" data-toggle="tab">On_the</a></li>
            <li role="presentation"><a href="#each" aria-controls="each" role="tab" data-toggle="tab">Each</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="on_the">
                <div class="form-group">
                    {{ multiple_occurrences_form.each_month_day.errors }}
                    {{ multiple_occurrences_form.each_month_day.label_tag }}
                    {{ multiple_occurrences_form.each_month_day }}
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="each">
                <div class="form-group">
                    {{ multiple_occurrences_form.month_ordinal.errors }}
                    {{ multiple_occurrences_form.month_ordinal.label_tag }}
                    {{ multiple_occurrences_form.month_ordinal }}
                </div>

                <div class="form-group">
                    {{ multiple_occurrences_form.month_ordinal_day.errors }}
                    {{ multiple_occurrences_form.month_ordinal_day.label_tag }}
                    {{ multiple_occurrences_form.month_ordinal_day }}
                </div>

            </div>
        </div>

    </div>
</div>

{# endblock #}